<!DOCTYPE html>
<html lang="es">
<head>
    <title>Reporte WRAD</title>
    <% include general.ejs %>

    <style>
        .border-report {
            border: 2px solid;
        }
    </style>
</head>
<body>
<img src="<%= logo %>" style="width: 11em; position: absolute; top:0; right: 5px; padding: 2em" alt="logo">
<div class="text-center mt-6">
    <h3>EMPRESA PÚBLICA METROPOLITANA DE LOGÍSTICA</h3>
    <h3 style="margin-top: -1em">PARA LA SEGURIDAD Y CONVIVENCIA CIUDADANA</h3>
</div>
<div>
    <span class="border-report font-weight-bold px-2">Informe No. <%= numeroInforme %>-<%= fechaEvento %></span>
    <div class="font-weight-bold mt-2 p-2" style="background-color: #fabf8f;">
        <div>INFORME DE ATENCIÓN DE EMERGENCIA <%= informeEmergencia.toUpperCase() %> <span
                    class="float-right">- PARROQUIA <%= parroquia.toUpperCase() %> </span></div>
        <div class="text-center">GRUPO DE EMERGENCIA <%= fechaInspeccion %></div>
    </div>
    <ol>
        <li class="font-weight-bold">Datos Generales
            <div class="font-weight-normal" style="margin-left: -2.5rem;">
                <table style="width:100%">
                    <tr>
                        <td class="font-weight-bold" >Fecha del evento:</td>
                        <td colspan="2" style="width:30%"><%= fechaEvento %></td>
                        <td class="font-weight-bold">Hora del evento:</td>
                        <td colspan="5"><%= horauString %></td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Fecha de la atención:</td>
                        <td colspan="2" style="width: 10%"><% personasEmergenciaDatos.forEach((personalAsistioEmergencia) => { %>
                                <%= personalAsistioEmergencia.fechasArribo %>
                            <% }); %>
                        </td>
                        <td>Hora inicial:</td>
                        <td colspan="2" style="width: 1%"><% personasEmergenciaDatos.forEach((personalAsistioEmergencia) => { %>
                                <%= personalAsistioEmergencia.horasInicio %>
                            <% }); %>
                        </td>
                        <td>Hora final:</td>
                        <td style="width: 1%"><% personasEmergenciaDatos.forEach((personalAsistioEmergencia) => { %>
                                <%= personalAsistioEmergencia.horasFin %>
                            <% }); %>
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Administración Zonal</td>
                        <td colspan="3"><%= administracionZonal %></td>
                        <td class="font-weight-bold">Parroquia</td>
                        <td colspan="6"><%= parroquia %></td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Dirección:</td>
                        <td colspan="3"><%= direccion %></td>
                        <td class="font-weight-bold">Barrio / Sector:</td>
                        <td colspan="6"><%= barrio %></td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Referencia:</td>
                        <td colspan="10"><%= referencia %></td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Solicitado por:</td>
                        <td colspan="10"><%= solicitadoPor %></td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Tipo de Evento</td>
                        <td colspan="10"><%=tipoEvento %></td>
                    </tr>
                </table>
                <br>
            </div>
            <br>
        </li>
        <li class="font-weight-bold">Descripción de la Emergencia
            <div class="font-weight-normal" style="margin-left: -2.5rem;">
                <table style="width:100%">
                    <tr>
                        <td colspan="6" class="font-weight-bold">Número de familias atendidas:</td>
                        <td colspan="6" class="text-center"><%= numeroFamiliasAfectadas %></td>
                    </tr>
                </table>
                <br>
            </div>
            <ol>
                <li>Familias Afectadas
                    <div class="font-weight-normal" style="margin-left: -5rem;">

                        <table style="width:100%">
                            <tr>
                                <td colspan="1" class="font-weight-bold text-center">Familia N°</td>
                                <td colspan="1" class="font-weight-bold">Nombres</td>
                                <td colspan="1" class="font-weight-bold">Edad</td>
                                <td colspan="1" class="font-weight-bold">Cédula</td>
                                <td colspan="1" class="font-weight-bold">Parentesco</td>
                                <td colspan="2" class="font-weight-bold">Número Telefónico de Contacto</td>
                            </tr>
                            <% integrantesFamilia.forEach((integranteFamiliaItem, index) => { %>
                                <tr>
                                    <td class="text-center"><%= integranteFamiliaItem.familia %></td>
                                    <td><%= integranteFamiliaItem.nombres %></td>
                                    <td><%= integranteFamiliaItem.edad %></td>
                                    <td><%= integranteFamiliaItem.cedula %></td>
                                    <td><%= integranteFamiliaItem.parentesco %></td>
                                    <td> </td>
                                </tr>
                            <% }); %>
                        </table>
                        <br>
                    </div>
                </li>
                <li>Insumos entregados según solicitud de la administración zonal <%= administracionZonal %>
                    <div class="font-weight-normal" style="margin-left: -5rem;">
                        <table style="width:100%">

                            <tr>
                                <td class="font-weight-bold">FAMILIA / TIPO DE AYUDA HUMANITARIA</td>
                                <td>ALIMENTOS PERECIBLES</td>
                                <td>ALIMENTOS NO PERECIBLES</td>
                                <td>KIT DE HIGIENE (ASEO PERSONAL)</td>
                                <td>KIT DE LIMPIEZA</td>
                                <td>FRAZADAS</td>
                                <td>VESTIMENTA</td>
                                <td>CALZADO</td>
                                <td>KIT ESCOLAR</td>
                                <td>OTROS</td>
                            </tr>


                            <% insumosEntregadosFamilia.forEach((insumosEntregados) => { %>
                                <tr>

                                    <td class="text-center"><%= insumosEntregados.nombreBeneficiario %></td>
                                    <td class="text-center"><%= insumosEntregados.kitsdePerecible %></td>
                                    <td class="text-center"><%= insumosEntregados.kitsdeNoPerecible %></td>
                                    <td class="text-center"><%= insumosEntregados.kitsdeHiguiene %></td>
                                    <td class="text-center"><%= insumosEntregados.kitsLimpieza %></td>
                                    <td class="text-center"><%= insumosEntregados.frazadas %></td>
                                    <td class="text-center"><%= insumosEntregados.vestimenta %></td>
                                    <td class="text-center"><%= insumosEntregados.calzado %></td>
                                    <td class="text-center"><%= insumosEntregados.kitsEscolar %></td>
                                    <td class="text-center"><%= insumosEntregados.otros %></td>
                                </tr>
                            <% }); %>
                        </table>
                        <br>
                    </div> <br>
                </li>
                <li>Gastos Incurridos
                    <div class="font-weight-normal" style="margin-left: -5rem;">
                        <table style="width:100%">
                            <tr>
                                <td class="font-weight-bold">Fecha</td>
                                <td class="font-weight-bold">No. Comprobante</td>
                                <td class="font-weight-bold">Proveedor</td>
                                <td class="font-weight-bold">Descripción</td>
                                <td class="font-weight-bold">Subtotal</td>
                                <td class="font-weight-bold">Iva</td>
                                <td class="font-weight-bold">Total de Factura</td>
                                <td class="font-weight-bold">Ret. a la Renta</td>
                                <td class="font-weight-bold">Ret. IVA</td>
                                <td class="font-weight-bold">Total a Pagar</td>
                            </tr>
                            <% facturasDatos.forEach((gastosIncurridos, index) => { %>
                                <tr>

                                    <td><%= gastosIncurridos.fecha %></td>
                                    <td><%= gastosIncurridos.numeroComprobante %></td>
                                    <td><%= gastosIncurridos.proveedor %></td>
                                    <td><%= gastosIncurridos.descripcion %></td>
                                    <td><%= gastosIncurridos.subtotal %></td>
                                    <td><%= gastosIncurridos.iva %></td>
                                    <td><%= gastosIncurridos.totalFactura %></td>
                                    <td><%= gastosIncurridos.retencionRenta %></td>
                                    <td><%= gastosIncurridos.retencionIva %></td>
                                    <td><%= gastosIncurridos.totalAPagar %></td>
                                </tr>
                            <% }); %>

                            <tr>
                                <td colspan="4" class="font-weight-bold">TOTAL</td>
                                <td><%= totalSubTotalFactura %></td>
                                <td><%= totalIvaFactura%></td>
                                <td><%= totalTotalFactura %></td>
                                <td><%= totalRetRentaFactura %></td>
                                <td><%= totalRetIvaFactura %></td>
                                <td><%= totalPagarFactura %></td>
                            </tr>
                        </table>
                    </div>
                    <br>
            </ol>
        </li><br>
        <li class="font-weight-bold">Detalle del personal que asistió a la emergencia
            <div class="font-weight-normal" style="margin-left: -2.5rem">
                <table style="width:100%">
                    <tr>
                        <td rowspan="2" class="font-weight-bold" >Nombre del Funcionario</td>
                        <td rowspan="2" class="font-weight-bold" >Emergencia Atendida</td>
                        <td rowspan="1" colspan="2" class="font-weight-bold" style="width: 1%">Tiempo de Atención</td>
                        <td rowspan="2" class="font-weight-bold" style="width: 1%">Total de Horas</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Desde</td>
                        <td class="font-weight-bold">Hasta</td>
                    </tr>
                    <% personasEmergenciaDatos.forEach((personalAsistioEmergencia) => { %>
                        <tr>
                            <td><%= personalAsistioEmergencia.nombres %></td>
                            <td><%= informeEmergencia %></td>
                            <td><%= personalAsistioEmergencia.horasInicio %></td>
                            <td><%= personalAsistioEmergencia.horasFin %></td>
                            <td style="width: 1%"><%= personalAsistioEmergencia.duracionEvento %></td>
                        </tr>
                    <% }); %>
                </table>
                <br>
            </div>
        </li>
        <li class="font-weight-bold">Conclusiones
            <div class="font-weight-normal">
                <%= conclusiones %>
            </div>
            <br>
        </li>
        <li class="font-weight-bold">Recomendaciones
            <div class="font-weight-normal">
                <%= recomendaciones %>
            </div>
            <br>
        </li>
        <li class="font-weight-bold">Soporte y Anexos
            <div class="font-weight-normal">
                - Anexo 1. Fotografías<br>
                - Anexo 2. Informe emitido por el COE<br>
                - Anexo 3. Informes emitidos por la Unidad de Seguridad de la Administración Zonal <%= administracionZonal %><br>
                - Anexo 4. Comprobantes de venta, retenciones y actas de entrega-recepción<br>
            </div>
            <br>
        </li>
        <li class="font-weight-bold">Firmas de Responsabilidad
            <div>
                <table class="font-weight-normal">
                    <tr class="text-white" style="background-color: #1F497D;">
                        <td class="font-weight-bold text-center">Nombre</td>
                        <td class="font-weight-bold text-center">Cargo</td>
                        <td class="font-weight-bold text-center">Responsabilidad</td>
                        <td class="font-weight-bold text-center">Fecha</td>
                        <td class="font-weight-bold text-center">Firma</td>
                    </tr>
                    <tr>
                        <td> <%= nombreResponsableAux %></td>
                        <td><%= cargoResponsableAux %></td>
                        <td><%= responsabilidadResponsableAux %>
                        </td>
                        <td><%= fechaImpresion %></td>
                        <td style="width:30%; height:100px">
						 <% if (firmaAprobacionAux != "") { %>
                                <img src="<%= firmaResponsableAux %>" style="width: 10em; height:5em" alt="firma1"></td>
                            <% } %>
						
                    </tr>
                    <tr>
                        <td> <%= nombreAprobacionAux %></td>
                        <td><%= cargoAprobacionAux %></td>
                        <td><%= responsabilidadAprobacionAux %>
                        </td>
                        <td><%= fechaImpresion %></td>
                        <td style="width:30%; height: 100px">
                            <% if (firmaAprobacionAux != "") { %>
                                <img src="<%= firmaAprobacionAux %>" style="width: 10em; height:5em" alt="firma2">
                            <% } %>
                        </td>
                    </tr>
                </table>
            </div>
        </li>
    </ol>
    <h4 class="border-report">Anexo 1. Fotografías</h4>

    <div class="font-weight-normal">
        <table style="width:100%">
            <tr>
                <% if (imagen1 != "") { %>
                    <td><img src="<%= imagen1 %>" style="width: 25em; height:20em" alt="nowforce1"></td>
                <% } %>

                <% if (imagen2 != "") { %>
                    <td><img src="<%= imagen2 %>" style="width: 25em; height:20em " alt="nowforce2"></td>
                <% } %>

            </tr>
            <tr>
                <% if (imagen3 != "") { %>
                    <td><img src="<%= imagen3 %>" style="width: 25em; height:20em" ></td>
                <% } %>


            </tr>
        </table>
        <br>
    </div>

    <h4 class="border-report">Anexo 2. Informe emitido por el COE</h4>
    <h4 class="border-report">Anexo 3. Informes emitidos por la Unidad de Seguridad de la Administración Zonal
        <%= administracionZonal %></h4>
    <h4 class="border-report">Anexo 4. Comprobantes de venta, retenciones y actas de entrega – recepción</h4>
</div>
</body>
</html>

